<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar() }}"></td>
        <td><a href="{{url_for('user',username=post.author.username)}}">{{ post.author.username }}</a> says:<br>{{ post.body }}</td>
    </tr>
</table>